.mainCafeMenu{
    width: 100%;
    background: rgb(38, 38, 112);
    font-family: 'Varela Round', sans-serif;
    direction: rtl;
}

hr{
    background-color: white;
    /* opacity: 0.3; */
}
.dishCard hr{
    background-color: white;
    opacity: 0.2;
}
.card-header{
    background-color: rgba(255, 255, 255, 0.082);
}
.card-header #headerTitle{
    font-size: 40px;
}
.card-header #headerDescription{
    font-size: 17px;
}
.card-header #headerPasta{
    font-size: 15px;
}

.mainCafeMenu .dishCard #price{
    float: left;
    font-size: 20px;
}
.mainCafeMenu .dishCard #name{
    text-decoration-line: underline ;
    font-size: 20px;
}
.mainCafeMenu .dishCard #description{
    font-size: 14px;
    word-spacing: 2px;
}
.mainCafeMenu .card-footer #name{
    text-decoration-line: underline ;
    font-size: 20px;
    text-align: right;
}
.mainCafeMenu .card-footer #description{
    text-align: right;
    font-size: 12.5px;
    word-spacing: 3px;
    word-spacing: 4px;
}
#mobile_menu{
    display: none;
}


@media (max-width:769px){
    #mobile_menu{
        display: block;
    }

    #pc_menu{
        display: none;
    }
}