.Main{
    /* min-height: 450px; */
    /* max-width: 100%; */
    /* width: 100%; */
    overflow: hidden;
    justify-content: center;
    text-align: center;
}


/* Mobile css */
@media screen and (max-width: 450px){
    .Main{
        min-height: 100%;
        /* overflow: hidden; */
        justify-content: center;
        text-align: center;
    }
}